.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.notification-message {
  padding: 10px;
  background-color: #11fb40;
  color: white;
  border-radius: 5px;
}

.close-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}