<div class="container">
  <div class="right-cadastro">
    <h1 class="titulo_cadastro">::CADASTRO DE MARCAS::</h1>
    <div class="card-cadastro">
      <form [formGroup]="loginForm" (ngSubmit)="consultar()">
        <div class="mb-3">
          <label for="nacional" class="form-label">Nacional</label>
          <select class="form-select" id="nacional" formControlName="nacional">
            <option value="true">Sim</option>
            <option value="false">Não</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            required
          />
        </div>
        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="ativo"
            formControlName="ativo"
          />
          <label class="form-check-label" for="ativo">Ativo</label>
        </div>
        <div class="titulo_cadastro">
          <button type="submit" class="btn btn-primary">Consulta</button>
          <button type="submit" class="btn btn-primary">Novo</button>
        </div>
      </form>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Ativo</th>
        <th>Nacional</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let marca of marcas">
        <td>{{ marca.nome }}</td>
        <td>{{ marca.ativo ? "Sim" : "Não" }}</td>
        <td>{{ marca.nacional ? "Sim" : "Não" }}</td>
        <td>
          <img
            class="imagem"
            src="../../../assets/img/lapis.png"
            (click)="editar()"
          />
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button
      (click)="anteriorPagina()"
      [disabled]="paginaAtual === 1 || totalItens < itensPorPagina"
    >
      Anterior
    </button>
    <select
      id="itensPorPagina"
      (change)="atualizarItensPorPagina($event)"
      defaultvalua=""
    >
      <option value="5">5</option>
      <option value="10" selected="selected">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
    <button
      (click)="proximoPagina()"
      [disabled]="paginaAtual === totalPaginas || totalItens < itensPorPagina"
    >
      Próximo
    </button>
  </div>
</div>
